.carousel {
	position: relative;
	background-color: #6BBBF4;
	height:65%;
	width:100%;
}

.carousel .container {
	width:100%;
	position: relative;
	top:25%;
}


.carousel .col-md-1 {
	position:relative;
	color:white;
	text-align: center;
	font-size: 35;
	top:100px;
}

.carousel .col-md-5 {
	position:relative;
	text-align: center;
	color:white;
	font-size: 80;
}

.carousel .col-md-5 img {
	height:300px;
	width:300px;
}

.skills p {
	position: relative;
	font-size:100;
	text-align: center;
	top:150px;
}

.skills {
	color: #3C81D1;
	height:85%;
	width:100%;
}

.skills .container {
	position:relative;
	top:20%;
	text-align: center;
	width:85%;
}



.skills .container .col-md-4 {
	position:relative;
	left:5%;
}

.skills li {
	position: relative;
	font-size: 20;
	list-style: none;
	color: #3C81D1;
}

.skills .container .col-md-4 div {
	width:200px;
	height:200px;
	border-radius:100px;
	font-size:30px;
	color: white;
	line-height:200px;
	text-align:center;
	background:#3C81D1;
}

.skills .container .btn.btn-primary {
	position: relative;
	left:45%;
}

.skills .container .btn.btn-danger {
	position: relative;
	top:50px;

}



.portfolio {
	position: relative;
	background-color: #7BC9C9;
	height:85%;
	width:100%;
}

.portfoliotitle {
	text-align: center;
	position:relative;
	font-size: 100;
	color:white;
	top:10%;
}

.portfolio .container {
	position:relative;
	top:20%;
	text-align: center;
}

.portfolio .container img {
	height:30%;
	width:80%;
}

.footer {
	position: relative;
	background-color: black;
	height:5%;
	width:100%;
	text-align: center;
}

.footer p {
	position:relative;
	color:white;
	top:10px;
}

.footer .col-md-1 {
	text-align: center;
}

.skills img {
	position:relative;
	top:50px;
}