.header {
	color: black;
	overflow: hidden;
	margin: 0 auto;
}

.styledline {
	border-top: 3px double #8c8b8b;
}


.col-md-6 {
	padding: 5px;
}

.col-md-6 ul li{
	display:block;
}

div {
	padding: 5px;
}

#name {
	text-align: center;
}

#menu {
	padding: 10px;
}

.menu_items {
	vertical-align: center;
}

.nav { 
  display: inline;
  position: fixed;
  top: 85%;
  left: 70%;
  z-index: 1;
}

li {
	display: inline;
}

ul li {
	display: inline;
}
 
ul {
    list-style-type: none;
    display:block;
}

.experience ul li {
	display:block;
}

.angular {
	background-color: #353334;
	height: 1200px;
}

.wrap {
	margin-top: 250px;
}

.app {
	height: 600px;
	border: solid;
	border-color: #B3B2B3;
	border-radius: 5px;
	display: block;
	background-color: #F51C49;
	color: #CDE5DE;
}

.monitor {
	text-align: left;
	height: 400px;
	background-color: #F51C49;
	display: block;
	border: solid;
	border-color: #B3B2B3;
	border-radius: 2px;
	color: #CDE5DE;
}

.special {
	font-size: 100px;
}

.home_page {
	position: relative;
	top: 150px;
}


.cad {
	display: inline-block;
}

.result {
	background-color: white;
	color: black;
	height: auto;
    max-height: 200px;
}

.videos {
	display: inline-block;
}

.scoreboard {
	background-color: #F51C49;
	display: block;
	text-align: center;
	color: #CDE5DE;
	border: solid;
	border-color: #B3B2B3;
	border-radius: 2px;
}

.nextButton {
	text-align: right;
}

.form-inline {
	display: inline;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #3b97e2;
}

.profit {
	text-align: center;
}

.scoreSubmit {
	padding-top: 10%;
	text-align: center;
}