<html>
<head>
	<title></title>
</head>
<body>
	<h2>Congratulations! You got new products to sell. You realized the average price of the buckets sold in the market is $15.</h2>
	<h3>How much do you want to sell each unit for?</h3>
	<input ng-model="setPrice" ng-change="revenueUpdate()"/>
	<div>
		<h3>Conversion Rate: {{conversionRate | percentage:0}}</h3>
		<h1>Total Profit: {{profit | currency}}</h1>
	</div>
	<form ng-submit="submitScore()">
		<input type="text" ng-model="name" name="text" />
		<input type="text" ng-model="email" name="text" />
  		<input type="submit" id="submit" value="Submit" />
	</form>
</body>
</html>