<html>
<head>
	<title></title>
</head>
<body>

	<div>
		<div><iframe width="400" height="300" ng-src='{{video.first}}' frameborder="0" allowfullscreen></iframe>
		<p>Upfront Cost:</p>{{upfrontCost1 | currency}}<p>Cost Per Unit:</p>{{costPerUnit1 | currency}}</div>
		<div><iframe width="400" height="300" ng-src='{{video.second}}' frameborder="0" allowfullscreen></iframe>
		<p>Upfront Cost:</p>{{upfrontCost2 | currency}}<p>Cost Per Unit:</p>{{costPerUnit2 | currency}}</div>
	</div>

</body>
</html>