<html>
<head>
	<title></title>
</head>
<body>
	<process ng-repeat="manufacturingProcess in manufacturingProcesses" bg-src="{{manufacturingProcess.url}}"></process>
	<!--
	<div class="process">3d Printing</div>
	<iframe width="400" height="200" src="https://www.youtube.com/embed/Z-vkte46rLY" frameborder="0" allowfullscreen></iframe>
	<div class="process">Injection Molding</div>
	<iframe width="400" height="200" src="https://www.youtube.com/embed/cpOwXZiHi0o" frameborder="0" allowfullscreen></iframe>
	<div class="process">Non-welded Sheet Forming</div>
	<iframe width="400" height="200" src="https://www.youtube.com/embed/eeSl2lXzpW4" frameborder="0" allowfullscreen></iframe>
	<div class="process">Welded Sheet Forming</div>
	<iframe width="400" height="200" src="https://www.youtube.com/embed/c-6Niu-Jbps" frameborder="0" allowfullscreen></iframe>
-->
</body>
</html>