<html>
<head>
	<title></title>
</head>
<body>

	<h3>Hello CEO 'name', you just realized there is money to be made in the water bucket industry!
		However, you've also realized that there is fierce competition in the bucket market. You must
		create a new product that is competitive in carrying capacity, price, and quality. Doing all that and making fat profit! But first you need to design your product!
	</h3>
	<h4>First Step, design the prototype bucket in the state-of-the-art 3D Computer Aided Design Software!</h4>

<div class="row">
  <div class="col-md-3">
  	<div class="dimensions">
			<form ng-submit="dimensions()">
				<p>Diameter</p>
			  <input type="text" ng-model='diameter'/>
			  <p>Wall Thickness</p>
			  <input type="text" ng-model='thickness'/>
			  <p>Height</p>
			  <input type="text" ng-model='cylinderHeight'/>
			  <button type="submit">Draw</button>
			</form>
		</div>
	</div>

  <div class="col-md-3">
  	<div class="diameter">
		</div>
	</div>

  <div class="col-md-3">
  	<div id="thickness">

		</div>
	</div>

	  <div class="col-md-3">
  		<div class="cylinderHeight">
			</div>
		</div>
</div>

<div class="searchResults">
	<form ng-submit="search()">
		<p>Material Choice</p>
		<input type="text" ng-model='choice' style="width:300px;"></input>
		<button type="submit">Find</button>
	</form>

	<div class="results">
		<material ng-repeat="material in materials"></material>
	</div>
</div>

<div class="volume">
	<p>Material Volume</p>
	{{0.7854 * cylinderHeight * (diameter * diameter - thickness * thickness) | number:2}}
</div>

	<div class="prototypeCost">
		<p>Prototype Cost</p>
			{{0.7854 * cylinderHeight * (diameter * diameter - thickness * thickness) * 0.5|currency}}
	</div>

<!-- this must be served over https... which means probably $https
<iframe scrolling='no' frameborder='0' allowfullscreen='true' src='http://www.3dcontentcentral.com/external-site-embed.aspx?format=3D&catalogid=364&modelid=1217&width=250&height=250&edraw=true' name='PreviewFrame3D' id='PreviewFrame3D' width='400' height='355'></iframe><br/><a href='http://www.3dcontentcentral.com/download-model.aspx?catalogid=364&id=1217'></a> -->



<a ng-href="{{manufacturingPath}}"><button>Next</button></a>

</body>
</html>