<html>
<head>
	<title></title>
</head>
<body>
	<h2>Third Step: Quality Control</h2>
	<table style="width:50%">
	  <tr>
	    <th>Quality Control Items</th>
	    <th>Status</th>
	  </tr>
	  <tr>
	    <td>Manufacturing Analysis</td>
	    <td>{{manufacturingAnalysis}}</td>
	  </tr>
	  <tr>
	    <td>Quality Control</td>
	    <td>
				<select ng-model="tolerance" ng-options="qualityControlLevel.level for qualityControlLevel in qualityControlLevels" ng-change="toleranceFunction()"></select>
	    </td>
	  </tr>
	  <tr>
	    <td>Scrap Rate</td>
	    <td>{{temp | percentage:2}}</td>
	  </tr>
	  <tr>
	    <td>Passing Rate</td>
	    <td>{{1 - temp | percentage:2}}</td>
	  </tr>
	  <tr>
	    <td>Trashing</td>
	    <td>{{trashUnits | number:0}} units</td>
	  </tr>
	  <tr>
	    <td>Accepting</td>
	    <td>{{acceptedUnits | number:0}} units</td>
	  </tr>
	</table>

<div>
	<a href="{{marketPath}}"><button ng-click="sellingFunction()">Take them to the Market!</button></a>
</div>

</body>
</html>